* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: #333;
}

a {
	position: relative;
	padding: 20px 50px;
	text-decoration: none;
	color: #FFE816;
	font-size: 2em;
	text-transform: uppercase;
	font-family: Poppins;
	letter-spacing: 4px;
	overflow: hidden;
	background: rgba(255,255,255, .1);
	box-shadow: 0 5px 5px rgba(0,0,0, .2);
}